* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

header {
  margin-bottom: 160px;
}

.header__menu {
  display: flex;
  justify-content: center;
}

@-webkit-keyframes myAnim {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

@keyframes myAnim {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@-webkit-keyframes myShakeLeft {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 0 50%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}
@keyframes myShakeLeft {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 0 50%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}
@-webkit-keyframes myJello {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes myJello {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes myBounse {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-24px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-12px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-6px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-4px);
  }
  25%, 55%, 75%, 87% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes myBounse {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-24px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-12px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-6px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-4px);
  }
  25%, 55%, 75%, 87% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
.margin, footer, header {
  background-color: #0a121f;
  height: 100px;
}

body {
  background-color: #08101e;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.menu__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  font-style: normal;
  font-family: "Open Sans";
  padding: 40px 20px;
}

.title3 {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  color: #3A68B8;
  font-style: normal;
  line-height: 160%;
  text-transform: uppercase;
  color: #3A68B8;
}

.main__heading {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
  color: #FFFFFF;
}

.main_dc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 40px;
}

.button__prop {
  background-color: #3A68B8;
  border-radius: 5px;
  padding: 15px 30px;
  gap: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  transition: background-color 0.5s, color 0.5s;
}
.button__hover:hover {
  background: #FFFFFF;
  color: #3A68B8;
  transform: scale(2);
}

.button__box {
  margin-top: 50px;
}

.logo__bar {
  margin-top: 200px;
}

.flex__box {
  display: flex;
  justify-content: space-between;
}

.logotip1 {
  -webkit-animation: myAnim 2s ease 0s 1 normal forwards;
          animation: myAnim 2s ease 0s 1 normal forwards;
}

.logotip2 {
  -webkit-animation: myShakeLeft 2s ease 0s 1 normal forwards;
          animation: myShakeLeft 2s ease 0s 1 normal forwards;
}

.logotip3 {
  -webkit-animation: myJello 2s ease 0s 1 normal forwards;
          animation: myJello 2s ease 0s 1 normal forwards;
}

.logotip4 {
  -webkit-animation: myBounse 2s ease 0s 1 normal forwards;
          animation: myBounse 2s ease 0s 1 normal forwards;
}

.content__left {
  width: 604px;
}

.pagetitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #FFFFFF;
}

.paragraph {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 20px;
}

.minititle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container__flex {
  width: 1146px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 157px;
  margin-bottom: 221px;
}

.top__flex {
  margin-top: 264px;
  display: flex;
  justify-content: space-between;
}

.item {
  text-align: center;
  width: 362px;
  height: 389px;
  left: 0px;
  top: 0px;
  background: #132035;
  border-radius: 10px;
  padding: 30px;
}

.left_block {
  width: 754px;
  height: 808px;
  left: 387px;
  top: 2418px;
  background: #132035;
  border-radius: 10px;
  margin-top: 30px;
  text-align: center;
  padding: 30px;
}

.block {
  width: 362px;
  height: 389px;
  left: 1171px;
  top: 2418px;
  background: #132035;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;
  padding: 30px;
}

.bottom__flex {
  display: flex;
  justify-content: space-between;
}

footer {
  margin-top: 235px;
  width: 1921px;
  left: 0px;
  top: 4182px;
}

.title4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.footertext {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 10px;
}

.ftext {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.6;
  padding: 10px;
}

.fa,
.fas {
  width: 18.39px;
  height: 15px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #FFFFFF;
}

.down {
  display: flex;
  justify-content: space-around;
  margin-top: 48px;
}

.secondblock {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}/*# sourceMappingURL=style.css.map */