* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #08101e;
}

header {
  background-color: #0a121f;
  height: 100px;
  margin-bottom: 160px;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.header__menu {
  display: flex;
  justify-content: center;
}

.menu__link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  padding: 40px 20px;
}

.title3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: #3A68B8;
}

.main__heading {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
  color: #FFFFFF;
}

.index__button {
  background: #3A68B8;
  border-radius: 5px;
  padding: 15px 30px;
  gap: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}

button:hover {
  background: #FFFFFF;
  color: #3A68B8;
}

.main_dc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 40px;
}

.logo__bar {
  margin-top: 200px;
}

.button__box {
  margin-top: 50px;
}

.flex__box {
  display: flex;
  justify-content: space-between;
}

.content__left {
  width: 604px;
}

.pagetitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #FFFFFF;
}

.paragraph {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 20px;
}

.minititle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container__flex {
  width: 1146px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 157px;
  margin-bottom: 221px;
}

.top__flex {
  margin-top: 264px;
  display: flex;
  justify-content: space-between;
}

.item {
  text-align: center;
  width: 362px;
  height: 389px;
  left: 0px;
  top: 0px;
  background: #132035;
  border-radius: 10px;
  padding: 30px;
}

.left_block {
  width: 754px;
  height: 808px;
  left: 387px;
  top: 2418px;
  background: #132035;
  border-radius: 10px;
  margin-top: 30px;
  text-align: center;
  padding: 30px;
}

.block {
  width: 362px;
  height: 389px;
  left: 1171px;
  top: 2418px;
  background: #132035;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;
  padding: 30px;
}

.bottom__flex {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #0a121f;
  height: 100px;
  margin-top: 235px;
  width: 1921px;
  left: 0px;
  top: 4182px;
  display: flex;
  justify-content: flex-start;
}

.title4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.footertext {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.ftext {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.6;
}

.fa,
.fas {
  width: 18.39px;
  height: 15px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */